<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escolha um Combustível</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Escolha um tipo de combustível</h1>
        <ul>
            {% for combustivel in combustiveis %}
                <li><a href="/combustivel/{{ combustivel }}">{{ combustivel }}</a></li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
